@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or your custom CSS file */
/* index.css or your custom CSS file */
/* index.css or your custom CSS file */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Apply to specific elements */
/* Apply to specific elements */
h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
  }
  
  /* styles.css ou tailwind.config.js */
.dark {
  background-color: #1a202c;
  color: #f7fafc;
}
