@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
}

h1, h2, h3 {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
}

p {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
}
